{{ define "main" }}
{{ partial "sidebar-section.html" . }}
<div class="mainsection">
{{ partial "mainsection-headerlinks.html" . }}
  <div class="article">
    <h1>{{ .Title }}</h1>
    <p>{{.Params.description}}</p>

    <div class="contentsPanel">
        <div class="contentsHeader">Contents</div>
        <ul>
            {{ .TableOfContents }}
            {{ range .Pages }}
            <li><a href="#{{ .LinkTitle }}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ .Content }}
    {{ range .Pages.ByWeight }}

      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <p> {{.Params.description}}</p>
    {{ end }}
   

    
    <div class="lavenderBox">
        <div class="header">tags, categories</div>
        <div class="subtitle linklist"><a href="#">tags</a></div>
        <div class="linklist">
            {{ range .Params.tags }}
                <a href="/tags/{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
        
        <div class="subtitle linklist"><a href="#">categories</a></div>
        <div class="linklist">
            {{ range .Params.categories }}
            <a href="/categories/{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
    
    <div class="categories">
        <a href="#">prev </a> <a href="#">TOP</a> <a href="#">next </a>
    </div>
    
</div>
<footer>
    {{ partial "footer.html" . }}
  </footer>
</div>
</div>
{{ end }}