{{ define "main" }}
{{ partial "mainsection-headerlinks.html" . }}
  <div class="article">
    <h1>{{ .Title }}</h1>
    <p>{{.Params.description}}</p>

    <div class="contentsPanel">
        <div class="contentsHeader">Contents</div>
        <ul>
            {{ range .Pages }}
            <li><a href="#{{ .LinkTitle }}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ range .Pages }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <p> {{.Params.description}}</p>
    {{ end }}
    {{ .Content }}

    
    <div class="lavenderBox">
        <div class="header">tags, categories</div>
        <div class="subtitle linklist"><a href="#">tags</a></div>
        <div class="linklist">
            {{ range .Params.tags }}
                <a href="/tags/{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
        
        <div class="subtitle linklist"><a href="#">categories</a></div>
        <div class="linklist">
            {{ range .Params.categories }}
            <a href="/categories/{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
    
    <div class="categories">
        <a href="#">Minimum corrumpit </a> <a href="#">Regione suscipit </a> <a href="#">Has et partem </a>
    </div>
    
</div>
{{ end }}