<div class="lavenderBox">
    <div class="header">tags, categories</div>
    <div class="subtitle linklist"><a href="#">tags</a></div>
    <div class="linklist">
        {{ range .Params.tags }}
            <a href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
    </div>
    
    <div class="subtitle linklist"><a href="#">categories</a></div>
    <div class="linklist">
        {{ range .Params.categories }}
        <a href="/categories/{{ . }}">{{ . }}</a>
        {{ end }}
    </div>
</div>

<div class="categories">
    <a href="#">Minimum corrumpit </a> <a href="#">Regione suscipit </a> <a href="#">Has et partem </a>
</div>