<div class="headerLinks">
    <span class="user">Not logged in</span> <a href="#">Talk</a> <a href="#">Contributions</a> <a href="#">Create account</a> <a href="#">Log in</a>
</div>
<div class="tabs clearfix">
    <div class="tabsLeft"> 
        <ul>
            <li  ><a href="#" class="active">{{ $.Language.LanguageName }}</a></li>
            {{ range .Translations }}
                <li>
                <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                </li>
            {{ end }}

            
        </ul>
    </div>
    <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search {{.Site.Title}}" size="12" />
        <div id="submitSearch"></div>
    </div>
    <div class="tabsRight">
        <ul>
            <li><a href="#" class="active">Read</a></li>
            <li><a href="#">View source</a></li>						
            <li><a href="#">View history</a></li>						
        </ul>
    </div>

</div>
<script>
    function redirectTo() {
        var query = document.getElementById("searchInput").value;
        var url = "{{.Site.BaseURL}}search/?" + encodeURIComponent(query);
        window.location.href = url;
    }

    document.getElementById("searchInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            redirectTo();
        }
    });

    document.getElementById("submitSearch").addEventListener("click", redirectTo);
</script>